<div>
    <p></p>
    <table class="table table-hover">
        <tr>
            <td>
                <h3>Список продуктов в корзине</h3>
            </td>
            <td>
                <li class="nav-item" style="margin-left: 10px;margin-left: 22px;">
                    <button class="btn btn-outline-warning btn-sm" ng-click="saveOrder()">Сделать заказ</button>
                </li>
            </td>
            <td>
                <button class="btn btn-danger" ng-click="deletAllProductBasket()">Очистить корзину</button>
            </td>
        </tr>

    </table>
    <table class="table table-hover">
        <tr>
            <td>ID</td>
            <td>Имя продукта</td>
            <td>Количество</td>
            <td>Цена</td>

        </tr>
        <tbody>
        <tr ng-repeat="p in cart.items">
            <td>{{p.productId}}</td> 
            <td>{{p.productTitle}}</td>
            <td>
                <button class="btn btn-primary" ng-click="changeCountProduct(p.productId,-1)">-</button>
                {{p.quantity}}
                <button class="btn btn-primary" ng-click="changeCountProduct(p.productId,1)">+</button>
            </td>
            <td>{{p.pricePerProduct + ' X ' + p.quantity + ' = ' + p.price}}</td>
            <td>
                <button class="btn btn-danger" ng-click="deleteProductBasket(p.productId)">Удалить</button>
            </td>
        </tr>

        <tr>
            <td>Итого:</td>
            <td></td>
            <td></td>
            <td>{{cart.totalPrice}}</td>
        </tr>
        </tbody>
    </table>
</div>